<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>yunheStuManager</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>studentServlet</servlet-name>
    <servlet-class>cn.yunhe.servlet.studentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>scoreServlet</servlet-name>
    <servlet-class>cn.yunhe.servlet.scoreServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>recordServlet</servlet-name>
    <servlet-class>cn.yunhe.servlet.recordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>classServlet</servlet-name>
    <servlet-class>cn.yunhe.servlet.classServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>userServlet</servlet-name>
    <servlet-class>cn.yunhe.servlet.userServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>permissionServlet</servlet-name>
    <servlet-class>cn.yunhe.servlet.PermissionServlet</servlet-class>
  </servlet>
  
   <servlet>
    <servlet-name>roleServlet</servlet-name>
    <servlet-class>cn.yunhe.servlet.RoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentServlet</servlet-name>
    <url-pattern>/studentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>scoreServlet</servlet-name>
    <url-pattern>/scoreServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>classServlet</servlet-name>
    <url-pattern>/classServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>recordServlet</servlet-name>
    <url-pattern>/recordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>userServlet</servlet-name>
    <url-pattern>/userServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>permissionServlet</servlet-name>
    <url-pattern>/permissionServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>roleServlet</servlet-name>
    <url-pattern>/roleServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>cn.yunhe.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>